.page {
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
  background-image: url('/public/forest.jpg');
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

.disappear {
  animation: example 1s forwards;
}

.doorVanish {
  animation: doorVanish 1s forwards;
}

@keyframes doorVanish {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes example {
  from {
    background-image: url('/public/forest.jpg');
  }
  to {
    background-color: black;
  }
}
